<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Pig Weather clock</title>
    <script src="/javascripts/form.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      var err = '<%= err %>';
      if(err!=='') alert(err);
    </script>
  </head>
  <body>
    <ul align='left'>
    Welcome <span><%= user %></span> <span>▼</span><br>
    <a href='/'><li>service</li></a>
    <a href='/logout'><li>logout</li></a>
    <a href='/user/changepw'><li>change password</li></a>
    <a href='/user/searchmap'><li>search map</li></a>
  </ul>
    <div class='container' align='center'>
      <div class='header'>
        <h1>Pig Weather</h1>
        <h2>Let you know where rain and when rain</h2>
      </div>
      <div class='content'>
        <div class='box'>
          <h3>修改密碼</h3>
          <form action="/user/changepw" onsubmit="return register();" method ="post">
            <p><span id='notice_register'></span></p><br>
            <p>帳號&nbsp;<input id='user' type="text" name="user" value='email@abc.com' onchange="checkEmail(this.id)"
              onblur="if (this.value == '') {this.value = 'email@abc.com';}"
              onfocus="if (this.value == 'email@abc.com') {this.value = '';}">
            </p><br>
            <span id='notice_email'></span><br>
            <p>密碼設定長度需為6~12字元，至少包含1個字母和1個數字</p>
            <p>舊密碼&nbsp;<input id='oldpw' type="password" name="oldpw"></p><br>
            <p>密碼&nbsp;<input id='password' type="password" name="password" onchange="checkPw(this.id)"></p><br>
            <p>確認密碼&nbsp;<input id='password01' type="password" name="password01" onchange="againPw(this.id)"></p><br>
            <span id='notice_pw'></span><br>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class='button' type="submit" value="修改密碼">
          </form>
        </div>
      </div>
      <div class='footer'>
        <hr>
        <h5>Contact us</h5>
        <h5>|</h5>
        <h5>About us</h5>
      </div>
    </div>
  </body>
</html>
