<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Weather clock</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script>
      var err = '<%= err %>';
      if(err!=='') alert(err);
    </script>
  </head>
  <body>
    <div class='container' align='center'>
      <div class='header'>
        <h1>Pig Weather</h1>
        <h2>Let you know where rain and when rain</h2>
      </div>
      <div class='content'>
        <div class="box">
          <h3>忘記密碼</h3>
          <form action="/user/forgetpw" method ="post" >

            <p>帳號&nbsp;<input type="text" name="user"></p>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input class='button' type="submit" value="取得密碼">
            <input class='button' type="button" onclick="javascript:location.href='/'" value="回首頁">

          </form>
        </div>
      </div>
      <div class='footer'>
        <hr>
        <h5>Contact us</h5>
        <h5>|</h5>
        <h5>About us</h5>
      </div>
    </div>
  </body>
</html>
