body {
  color: 	#2F4F4F;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  width: 10%;
  position: absolute;
  margin-left: 70%; 
}

li {
  display: inline-block;
  border: #2F4F4F 0.1px solid;
  width: 60px;
  text-align: center;
  padding: 5px;
  margin: 0 5px 0 5px;
  position: relative;
  background-color: #FFF;
}

ul li {
  display: none;
  position: relative;
  z-index: 0;
}

ul:hover {
  cursor: pointer;
}

ul:hover li{
  display: inline-block;
  position: static;
 
}

li:hover {
  background-color: #2F4F4F;
  color: #FFF;
  display: inline-block;
}

.container {
  background-image: url("http://pngimages.net/sites/default/files/rain-png-image-24401.png");
  background-repeat: repeat-x;
  background-position: -30px 100px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.header {
  padding-top: 2%;
}

.content{
  width: 35%;
  min-height: 450px;
  margin-top: 2%; 
}

.content p {
    display: inline-block;
    margin: 10px 10px 10px 20px;
}

.rightside {
  width: 40%;
  float: left;
  margin: 0px 2.5% 10px 2.5%;
}

.lefttside {
  width: 50%;
  margin: 50px 2.5% 10px 2.5%;
}

#map {
  width: auto;
  height: 500px;
  border-radius: 5px;
  border: #2F4F4F 0.2px solid;
 }

.topbar {
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 10px;
  background-color: #2F4F4F;
  padding: 5px 0px 5px 0px;
  box-shadow: 0.2px 0.2px 2px #FFFACD;
  color: #FFFACD;
}

.topbar div {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.box {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #FFFACD;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  box-shadow: 0.2px 0.2px 2px #2F4F4F;
  color: #2F4F4F;
}

.box div {
  position: relative;
  display: inline-block;
  text-align: center;
}

.content input {
  border: #2F4F4F 0.2px solid;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  border: #2F4F4F 0.2px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: #2F4F4F;
  color: #FFF;
  cursor: pointer;
}

.button:focus {
  border: #CC0000 0.2px solid;
  background-color: #CC0000;
  color: #FFFF00;
}

.button:hover {
  border: #CC0000 0.2px solid;
  background-color: #CC0000;
  color: #FFFF00;
}

.createbox {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #FFF;
  padding: 5px 0px 5px 0px;
  box-shadow: 0.2px 0.2px 2px #2F4F4F;
  color: #2F4F4F;
}

form span {
  color: #CC0000;
}

select {
  color: #2F4F4F;
  border: #2F4F4F 0.1px solid;
  height: 25px;
  background-color: #FFF;
}

input {
  color: #A9A9A9;
}

input:focus {
  color: #2F4F4F;
}

.footer {
  width: 100%;
  position: relative;
  padding-top: 50px;
  top:  90%;
  min-height: 100px;
  color: #2F4F4F;
  clear: both;
}

.footer h5{
  display: inline-block;
  margin: 10px;
}

a {
  color: 	#2F4F4F;
}

@media screen and (max-width: 768px){
  ul {
    position: relative;
    width: 100%;
    margin-left: 0px; 
  }
  li{
    width: 80%;
  }
  .container {
    position: relative;
  }
  .content{
    width: 95%;
  }
  .rightside{
    width: 100%;
  }
  .leftside{
    width: 100%;
  }
}

.flash {
  background-color: pink;
}
