body {
  color: 	#2F4F4F;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  width: 10%;
  margin-left: 75%;
}

li {
  display: inline-block;
  border: #2F4F4F 0.1px solid;
  width: 55px;
  text-align: center;
  float: right;
  padding: 5px;
  margin: 0 5px 0 5px;
}

ul li {
  display: none;
}

ul:hover {
  cursor: pointer;
}

ul:hover li{
  display: inline-block;
}

li:hover {
  background-color: #2F4F4F;
  color: #FFF;
  display: inline-block;
}

.container {
  background-image: url("http://pngimages.net/sites/default/files/rain-png-image-24401.png");
  background-repeat: repeat-x;
  background-position: -30px 100px;
  width: 100%;
}

.header {
  padding-top: 2%;
}

.content{
  width: 30%;
  min-height: 450px;
}

.content p {
    display: inline-block;
    margin: 10px 10px 10px 20px;
}

.topbar {
  width: 100%;
  height: 30px;
  position: relative;
  border-radius: 10px;
  background-color: #2F4F4F;
  padding: 5px;
  box-shadow: 0.2px 0.2px 2px #FFFACD;
  color: #FFFACD;
}

.topbar p {
  margin: 5px 20px 5px 20px;
}

.box {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #FFFACD;
  margin: 5px 0px 5px 0px;
  padding: 0px 5px 0px 5px;
  box-shadow: 0.2px 0.2px 2px #2F4F4F;
  color: #2F4F4F;
}

.content input {
  border: #2F4F4F 0.2px solid;
  border-radius: 5px;
  font-size: 14px;
}

.button {
  border: #2F4F4F 0.2px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background-color: #2F4F4F;
  color: #FFF;
  cursor: pointer;
}

.button:focus {
  border: #CC0000 0.2px solid;
  background-color: #CC0000;
  color: #FFFF00;
}

.button:hover {
  border: #CC0000 0.2px solid;
  background-color: #CC0000;
  color: #FFFF00;
}

.createbox {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #FFF;
  padding: 5px;
  box-shadow: 0.2px 0.2px 2px #2F4F4F;
  color: #2F4F4F;
}

form span {
  color: #CC0000;
}

select {
  color: #2F4F4F;
  border: #2F4F4F 0.1px solid;
  height: 25px;
  background-color: #FFF;
}

input {
  color: #A9A9A9;
}

input:focus {
  color: #2F4F4F;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: : 5%;
  min-height: 100px;
  color: #2F4F4F;
}

.footer h5{
  display: inline-block;
  margin: 10px;
}

a {
  color: 	#2F4F4F;
}

@media screen and (max-width: 768px){
  .content{
    width: 90%;
  }
}
